.lineheight{
	line-height: 2.2;
/*	margin-top: 10px;*/
	cursor: pointer;
}

.cursor{
	cursor: pointer;
}

#previewPre{
	pointer-events: none;
}

.handsontableInput{
	min-width: 250px !important;
	min-height: 100px !important;
	resize:both !important;
}
